{% extends 'base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
{% block menu %}
<li><a href="{% url 'create' %}">Add Article</a></li>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Articles</h1>
    {% if not moderns %}
        <h2>НЕТ ЗАДАЧ</h2>
    {% endif %}

    {% for modern in moderns %}
        <p>{{ modern.status }}: <a href="{% url 'view' modern.pk %}">{{ modern.title }}</a></p>
    {% endfor %}

</div>
{% endblock %}
</body>
</html>